.head-text {
  padding: 5px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  color: brown;
}

a.next {
  text-decoration: none;

  > span {
    float: right; 
    margin: 0 5px 0 0;
    padding: 0 10px;
    font-size: 12px;
  }
}


.welcome {
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}
.tsd {
  margin: 0 auto;
  padding: 10px;
}
